<!DOCTYPE html>
<html lang="en" ng-app="pups">
    <head>
        <meta charset="UTF-8">
        <title> All the cuteness in the world </title>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/app.css" rel="stylesheet" type="text/css">
    </head>

    <body class="container" ng-controller="PuppyCtrl">
        <h1>{{ response.total }}</h1>

        <ul class="list-unstyled">
            <li class="row" ng-repeat="pup in response.images">
                <h3>{{ pup.title }}</h3>
                <img ng-src="{{ pup.thumbnail }}" />
                <br class="clearfix" />
            </li>
        </ul>

        <button ng-hide='main.page <= 1' ng-click='previousPage()'>Previous</button>
        <button ng-hide='main.page >= main.pages' ng-click='nextPage()'>Next</button>

        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
